body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #606060;
}

section {
    padding: 50px 0;
    background-color: #ffffff;
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}

.section-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #9d4f59;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-content{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.presentation {
    /* background-color: #f0f0f0; */
    text-align: left;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

.presentation .container {
    max-width: 1320px;
}

.presentation .container h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

.presentation .container p {
    font-size: 24px;
    margin: 10px 0 0 0;
}

.presentation .container span {
    font-size: 24px;
    color: #9d4f59;
    margin: 0;
}

.presentation .container .icons {
    margin-top: 20px;
}

.presentation .container .icons img {
    width: 30px;
    margin-right: 10px;
}
/* social icons */
.presentation .social-links {
    margin-top: 20px;
}
.presentation .social-links i {
    color: #45505b;
    font-size: 22px;
    margin: 10px;
}
.presentation .social-links i:hover {
    color: #9d4f59;
}

.about {
    padding: 50px 0;
    background-color: #ffffff;
    text-align: center;
}

.about .section-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.about .section-content .about-left {
    width: 33.33%;
    padding: 0 10px 10px 0;
}

.about .section-content .about-left img {
    width: 100%;
    height: auto;
}

.about .section-content .about-right {
    width: 66.66%;
    text-align: left;
    padding-left: 10px;
}

.about .section-content .about-right h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 26px;
    color: #728394;
}

.about .section-content .about-right p {
    font-size: 16px;
    font-style: italic;
}

.about .section-content .about-right ul {
    list-style-type: none;
    padding: 0;
    column-count: 2;
}

.about .section-content .about-right ul li {
    font-size: 16px;
    margin-bottom: 10px;
    column-break-inside: avoid;
}

.about .section-content .about-right .education {
    margin-top: 20px;
}
/* portfolio */
.portfolio .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.portfolio .section-content .portfolio-item {
    position: relative; 
    width: 100%;
    /* margin: 15px; */
}

.portfolio .section-content .portfolio-item img {
    height: 375px;
    width: auto;
}

.portfolio .section-content .portfolio-item .item {
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
    background-color: #f2f3f590;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    height: 175px;
}

/* .portfolio .section-content .portfolio-item .item:hover {
    transform: scaleY(1.5);
    transition: transform 0.3s ease;
} */

.portfolio .section-content .portfolio-item .item .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.portfolio .section-content .portfolio-item .item .subtitle{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.portfolio .section-content .portfolio-item .item .badges{
    text-align: center;
    margin-top: 5px;
}

.portfolio .section-content .portfolio-item .item .badges .badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #9d4f59;
    color: white;
    font-size: 10px;
    border-radius: 25px;
}

/* skills */
.skills .section-content ul {
    list-style-type: none;
    padding: 0;
    column-count: 2;
}

.skills .section-content ul li {
    margin-bottom: 10px;
    column-break-inside: avoid;
}

.skills .section-content .progress {
    overflow: hidden;
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.skills .section-content .progress .content-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.skills .section-content .progress .progress-bar-wrap {
    width: 100%;
    height: 10px;
    background-color: #f2f3f5;
}

.skills .section-content .progress .progress-bar-wrap .progress-bar {
    /* width: 85%; */
    height: 100%;
    background-color: #9d4f59;
}

/* resumen */
.resume .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #9d4f59;
    position: relative;
    text-align: left;
    display: inline-block; 
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #9d4f59;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #9d4f59;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 10px;
}

.resume .resume-item .txt-small {
    font-size: 12px;
}

/* contact */
.contact {
    text-align: center;
    padding: 50px 0;
}

.contact h2 {
    font-size: 24px;
}

.contact .section-content {
    text-align: center;
    max-width: 300px;
    margin: 60px auto;
}

.contact .section-content h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
}

.contact .section-content p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #728394;
}

footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px; 
}

footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}

footer p {
    font-style: italic;
    padding: 0;
    margin: 0 0 20px 0;
}
/* social icons */
footer .social-links i {
    color: #45505b;
    font-size: 32px;
    margin: 10px;
}

footer .social-links i:hover {
    color: #9d4f59;
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 0;
    }

    .presentation {
        padding: 50px 0 0 50px !important;
    }

    .presentation .container h1 {
        font-size: 42px;
    }

    .presentation .container p {
        font-size: 18px;
        margin: 0 0 0 0;
    }

    .presentation .container span {
        font-size: 18px;
    }

    .about {
        padding: 10px;
    }

    .about .section-content {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        padding-left: 0px;
    }

    .about .section-content .about-left {
        width: 100%;
        padding: 0;
    }

    .about .section-content .about-right {
        width: 100%;
        text-align: left;
        margin-top: 20px;
        padding-left: 0px;
    }

    .about .section-content .about-right p {
        margin-top: 5px;
    }

    .about .section-content .about-right ul {
        column-count: 1;
    }

    .portfolio .section-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio .section-content .portfolio-item .item {
        left: 0px;
        right: 0px;
    }

    .skills .section-content ul {
        column-count: 1;
    }

    .resume .section-content {
        grid-template-columns: repeat(1, 1fr);
    }

}