.resume {
  .section-content {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px; */
    list-style-type: none;
    padding: 0;
    column-count: 2;
  }
  .resume-item {
    width: 550px;
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid $color-primario;
    position: relative;
    text-align: left;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: #fff;
      border: 2px solid $color-primario;
    }
    h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: $color-primario;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 16px;
      background: $color-blanco;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-top: 2px;
      margin-bottom: 10px;
    }
    .txt-small {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .resume {
    .resume-item {
      width: 350px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .resume {
    .resume-item {
      width: 280px;
    }
  }
}

@media screen and (max-width: 768px) {
  .resume {
    .section-content {
      column-count: 1;
    }
    .resume-item {
      width: 100%;
    }
  }
}
