/* 
Desarrollado por Alonso Massa 

Skills:
Flutter
Supabase
Firebase
MySql
Postgress
Html
Css
JavaScript
Bootstrap
Bulma
*/

@import "colors";

body {
  font-family: "Open Sans", sans-serif;
  background: $color-base;
  color: $color-alterno;
  margin: 0;
}

section {
  margin: 20px 0 0 0;
  text-align: center;
  .section-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $color-primario;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
  .section-content {
    margin: 120px 0 160px 160px;
  }
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    .section-content {
      margin: 80px 40px 0 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    margin: 0 40px 0 40px;
    padding: 30px 0;
    .section-content {
      margin: 40px 0 0 0;
    }
  }
}

@import "content/presentation";
@import "content/portfolio";
@import "content/contact";
@import "content/footer";
