@import "../../../../sass/colors.scss";

.container {
    padding: 20px;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
    }

    img {
        max-height: 200px;
        width: auto;
        margin: 0 0 25px 0;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        /* Añade una sombra para crear el borde difuminado */

        @media screen and (max-width: 768px) {
            max-height: 150px;
        }
    }

    h1 {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;

        @media screen and (max-width: 768px) {
            font-size: 33px;
            line-height: 33px;
        }
    }

    span {
        font-size: 18px;
        color: $color-primario;
        margin: 0;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    .social-links {
        margin: 2.5px 0 0 0;

        @media screen and (max-width: 768px) {
            margin: 10px 0px 10px 0px;
        }

        img {
            height: 24px;
            margin: 4px;
            filter: brightness(0%) invert(30%);

            @media screen and (max-width: 768px) {
                height: 27px;
            }
        }
    }
}