@import "../../sass/colors.scss";

footer {
  background: $color-base2;
  font-size: 14px;
  text-align: center;
  padding: 30px 0 60px 0;
  color: $color-apoyo;
  h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 0 15px;
  }
  p {
    font-style: italic;
    color: $color-primario;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .social-links {
    img {
      height: 32px;
      margin: 10px;
      filter: brightness(0%) invert(85%);
      // &:hover {
      //   filter: brightness(100%) contrast(100%);
      // }
    }
  }
}
